<div id="mobile-nav-wrapper" class="visible-xs visible-sm">
	<nav id="mobile-nav-header" class="topnav">
		<div class="mobile-nav-logo img-responsive">
			<a href="/"><span class="sr-only">ExactTarget Marketing Cloud</span></a>    
		</div>
		<span class="mobile-toggle"><a href="#"></a></span>
	</nav>
	<div id="mobile-nav-menu" class="offnav">
	<div class="col-md-12 row">
		<form id="mobile-form-search">
			  	<input type="text" id="mobile-st-search-input" placeholder="Search" class="st-search-input form-control form-text">
				<button class="btn btn-default mi mi-magnifying-glass">Search</button>
		</form>
</form>
	</div>
		<div class="panel-group" id="mobile-nav-accordion">
			{{#each siteNav}}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a {{#unless url}}data-toggle="collapse" data-parent="#mobile-nav-accordion" class="collapsed"{{else}}class="single" {{/unless}}href="{{#if url}}{{#unless this.external}}/{{/unless}}{{this.url}}{{else}}#{{@key}}{{/if}}">
							{{title}}{{#if this.external}}&nbsp;<i class="fa fa-external-link"></i>{{/if}}
						</a>
					</h4>
				</div>
				<div id="{{@key}}" class="panel-collapse collapse">
					<div class="panel-body">
						{{#if pages}}
						<ul class="list-group">
							{{#each pages}}
							<li class="list-group-item"><a href="{{#unless this.external}}/{{/unless}}{{this.url}}" {{#if this.external}}target="_blank"{{/if}}>{{this.title}}{{#if this.external}} &nbsp; <i class="fa fa-external-link"></i>{{/if}}</a></li>
							{{/each}}
						</ul>
						{{/if}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		{{#if menu}}
			{{>mobileSidebar}}
		{{/if}}
		<div>
			<a role="button" class="subscribe-button" id="mobile-subscribe" data-toggle="modal" data-target="#subscribe">Subscribe <i class="mi mi-dedicated-Email"></i></a>
		</div>
		<div>
			<div class="col-sm-12">
				<a href="tel:+18663624538" class="phone-number"><i class="mi mi-phone-rotary"></i>866.362.4538</a>
			</div>
		</div>
		<div>
			<div class="col-md-12 social-icons">
				<a href="https://twitter.com/ETfuel" target="_blank"><i class="mi mi-social-twitter fa-2x"></i></a>
				<a href="https://github.com/exacttarget" target="_blank"><i class="fa fa-github fa-2x"></i></a>
				<a href="salesforce.stackexchange.com/questions/tagged/exacttarget" target="_blank"><i class="fa fa-stack-exchange fa-2x"></i></a>
				<a href="https://www.linkedin.com/groups/ExactTarget-Developer-Community-4063924" target="_blank"><i class="mi mi-social-linkedin fa-2x"></i></a>
				<a href="https://www.youtube.com/channel/UCaX4onlH8RqsXxGuzftNfzA" target="_blank"><i class="mi mi-social-youtube fa-2x"></i></a>
				<a href="/blog/rss/" target="_blank"><i class="mi mi-social-rss fa-2x"></i></a>
			</div>
		</div>
		<div>
			<div class="col-md-12 footer-legal">
				<a href="http://www.exacttarget.com/privacy-policy" target="_blank" class="policy">Privacy Policy</a>
				<a href="http://www.exacttarget.com/anti-spam-policy" target="_blank" class="policy">Anti-SPAM Policy</a>
				<a href="http://www.exacttarget.com/legal" target="_blank">Legal</a>
				<a href="https://3sixty.exacttarget.com/" target="_blank">3sixty</a>
				<a href="http://www.exacttarget.com" target="_blank">exacttarget.com</a>
			</div>
		</div>
	</div>
</div>